* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 470vh;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #6072A0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li:hover {
  color: white;
}


body {
  background-color: #676F84;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%; /* Alterado o padding */
  background-color: #24252a;
  height: 80px; /* Adicionado uma altura fixa */
}

.logo {
  height: 100%; /* Definindo a altura da logo para ocupar toda a altura do header */
}

.logo img {
  height: 100%; /* Definindo a altura da imagem da logo para ocupar toda a altura do div .logo */
  width: auto; /* Garantindo que a largura da imagem seja ajustada automaticamente */
}


nav {
  order:4;
}


nav li {
  display: inline-block;
}


nav li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px;
}


.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}


.nav__links {
  list-style: none;
  display: flex;
  font-size: 16px;
}


.nav__links li {
  padding: 0px 20px;
}


.nav__links li:nth-child(1) {
  padding: 0 20px 0 0;
}


.nav__links li a {
  transition: all 0.3s ease 0s;
}


.nav__links li a:hover {
  color: #0088a9;
}


.cta {
  order: 2;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


a.active,a:hover{   
  background: none;
  color: #4FD6E8;     /* colocar cor ao selecionar opção menu*/
  font-weight: bold;
  transition: .10s;
}


a.linklogo:active,a.linklogo:hover{       
  background: transparent;
}



.table-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 600px;
}


.column {
  flex-basis: calc(33.33% - 10px);
}


.column label {
  display: block;
  margin-bottom: 5px;
}


table {
  margin-top: 15px;
  background-color: #666;
  border-collapse: collapse;
  width: 100%;
}


table,
th,
td {
  border: 1px solid white;
}


th {
  background-color: #ccc7c7;
}


input[type="text"] {
  background-color: #777;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px;
  width: 100%;
}


#triangle {
  display: block;
  margin: auto; /* Isso centralizará o elemento horizontalmente */
}




h1 {
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

.alpharep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.alpharep label {
  margin-top: 10px; 
  color: white;
}

.alpharep input {
  text-align: center;
  margin-top: 5px;
  width: 200px;
  padding: 8px; 
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
}


p{
  margin-left: 15px;
  color: white;
  margin-top: 30px;
  text-align: left;
  font-size: 20px;
}


button{
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.info{
  color: white;
  margin-left: 15px;
}
