* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #6072A0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li:hover {
  color: white;
}

body{
    background-color: #676F84;
}

  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    height: 10px;
    cursor: pointer;
    order: 3;
    margin-right: auto;
  }
  
  nav {
    order:4;
  }

  nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}


  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    font-size: 16px;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    order: 2;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  a.active,a:hover{   
    background: none;
        color: #4FD6E8;     
        font-weight: bold;
        transition: .10s;
}

a.linklogo:active,a.linklogo:hover{       
background: transparent;
}


#container {
    display: flex;
    justify-content: center;
}

#angle-input-container, #circle-container {
    margin: 20px;
}

#circle {
    width: 300px;
    height: 300px;
    border: 2px solid #3498db;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle, #2d0c30, #5a1737);
    transform: rotate(0deg);
}

#horizontal-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 0;
}

#vertical-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 0;
}

#angleMarker {
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: red;
    left: 50%;
    top: 0%;
    transform-origin: 50% 100%;
    transform: rotate(90deg);
}

.angle-label {
    position: absolute;
    color: white;
    font-size: 12px;
    text-align: center;
    transform-origin: 50% 100%;
}

h1, p {
    text-align: center;
}

input, button {
    display: block;
    margin: 0 auto;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

h1{
    margin-top: 25px;
  font-family: "Inter", sans-serif;
  color: black;
  text-align: center;
}